body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#contenedor {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
}

.contenedor-secciones {
    display: flex;
    justify-content: space-between;
}

.seccion {
    width: 48%;
}

.tarjeta {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fade-in 3s forwards;
}

img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
    display: block; 
    margin: 0 auto;
}

.tarjeta-comic {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
}

.tarjeta-serie {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in 0.5s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#marvel-titulo {
    text-align: center;
    margin-bottom: 20px;
}

#fondo-titulo {
    background-color: rgb(255, 0, 0);
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}

#fondo-titulo h1 {
    color: #ffffff;
    font-family: 'Arial Black', sans-serif;
    font-size: 3em;
    margin: 0;
}

#nombre-personaje {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 60%; 
}

#boton-buscar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
}

#boton-buscar:hover {
    background-color: #45a049;
}

#nombre-personaje, #boton-buscar {
    display: block;
    margin: 0 auto;
}
