body {
    font-family: "Futura", sans-serif;
    background-color: white;
}
#fondo-titulo {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 0;
}
#busqueda {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    gap: 10px;
}
#titulo {
    justify-content: center;
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -4.5px;
}
#nombre-personaje{
    display: flex;
    justify-content: center;
}
#contenedor-personajes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.tarjeta {
    border: 1px solid #ddd;
    padding: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.tarjeta img {
    width: 20%;
    height: auto;
}

.tarjeta h1 {
    font-size: 20px;
    margin: 0;
}

#contenedor-comics {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tarjeta-comic {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 10px;
}

.tarjeta-comic h2 {
    font-size: 16px;
    margin: 0;
}

.tarjeta-comic ul {
    list-style-type: none;
    padding: 0;
}
